@page
@model GrblSpeaker.Pages.ControllerModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNC Controller</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>CNC Controller</h1>
        <div class="buttons">
            <button class="Control" id="configrations" name="$$">Configrations</button>
            <button class="Control" id="homing" name="$H">Homing</button>
            <button class="Control" id="unlock" name="$X">Unlock Machine</button>
            <div>
                <button class="Control" id="xPlus" name="$J=G91 G21 X1 F500">X+</button>
                <button class="Control" id="xMinus" name="$J=G91 G21 X-1 F500">X-</button>
                <button class="Control" id="xPlus10" name="$J=G91 G21 X10 F500">X+10</button>
                <button class="Control" id="xMinus10" name="$J=G91 G21 X-10 F500">X-10</button>
                <button class="Control" id="xPlus5" name="$J=G91 G21 X5 F500">X+5</button>
                <button class="Control" id="xMinus5" name="$J=G91 G21 X-5 F500">X-5</button>
            </div>
            <div>
                <button class="Control" id="yPlus" name="$J=G91 G21 Y1 F500">Y+</button>
                <button class="Control" id="yMinus" name="$J=G91 G21 Y-1 F500">Y-</button>
                <button class="Control" id="yPlus10" name="$J=G91 G21 Y10 F500">Y+</button>
                <button class="Control" id="yMinus10" name="$J=G91 G21 Y-10 F500">Y-</button>
                <button class="Control" id="yPlus5" name="$J=G91 G21 Y5 F500">Y+</button>
                <button class="Control" id="yMinus5" name="$J=G91 G21 Y-5 F500">Y-</button>
            </div>
            <button class="Control" id="zPlus" name="$J=G91 G21 Z1 F100">Z+</button>
            <button class="Control" id="zMinus" name="$J=G91 G21 Z-1 F100">Z-</button>
            <button class="Control" id="zMinushalf" name="$J=G91 G21 Z-0.5 F100">Z- .5</button>
            <button class="Control" id="SetZero" name="G10 P0 L20 X0 Y0 Z0">SetZero</button>
            <button class="Control" id="Return to Zero" name="G00 X0 Y0 Z0">Return to Zero</button>

        </div>
        <div class="buttons">
            <button id="Stop" name="Stop">Stop</button>
            <button id="Pause" name="Pause">Pause</button>
            <button id="Continue" name="Continue">Continue</button>
        </div>
        <div class="buttons">
            <button id="portSelectButton">SelectPort</button>

        </div>
        <div>
            <form id="uploadForm">
                <input type="file" id="fileInput" accept=".txt,.csv,.pdf">
                <button class="buttons" type="submit">Start</button>
            </form>
        </div>
        <button id="autoLevel" onclick="jaavscript: callAutoLevel()">auto level</button>
        <pre id="percentage"></pre>

        <div class="response">
            <h2>Response:</h2>
            <pre id="responseText"></pre>
        </div>


        <div class="response">
            <h2>status Text:</h2>
            <pre id="statusText"></pre>
        </div>
        <iframe src="/streaming.mpg" title="CNC PCB Machine" style="width:90vw; height: 600px; border:dotted 1mm"></iframe>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

    <script src="script.js"></script>


</body>
</html>

